# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [1]:
#import required libraries
import selenium
from selenium import webdriver
import pandas as pd
import time

In [2]:
#connect with the driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")

In [3]:
#maximize the window
driver.maximize_window()

In [3]:
# step 1: visit the naukri.com page
driver.get("https://www.naukri.com/")

In [4]:
#maximize the page
driver.maximize_window()

In [5]:
#step 2: enter skill as Data Analyst and location as Bangalore
search_jobs=driver.find_element_by_id("qsb-keyword-sugg" )
search_jobs.send_keys("Data Analyst")
loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
loc.send_keys("Bangalore")

In [6]:
#clicking the search button after entering the information
search_button=driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section/div/form/div[3]")
search_button.click()

In [7]:
#getting the job titles
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#extracting the text 
title_list=[]
for i in title:
    title_list.append(i.text)
title_list[0:3]

['Data Analyst', 'Data Analyst', 'Data Analyst']

In [8]:
#getting the company name
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#extracting the text from above output
company_list=[]
for i in company:
    company_list.append(i.text)
company_list[0:3]

['Super India Tech Mark',
 'tech mahindra ltd',
 'CONDUENT BUSINESS SERVICES INDIA LLP']

In [9]:
#getting the locations
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
#extracting the text from above output
location_list=[]
for i in location:
    location_list.append(i.text)
location_list[0:3]

['Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [10]:
#getting the experience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#extracting the text from above output
exp_list=[]
for i in exp:
    exp_list.append(i.text)
exp_list[0:3]

['0-2 Yrs', '4-8 Yrs', '1-2 Yrs']

In [11]:
#checking the lengths
print(len(title_list),len(exp_list),len(company_list),len(location_list))

20 20 20 20

In [12]:
#creating a dataframe with first 10 jobs
df=pd.DataFrame({'Title':title_list[0:10],
                'Company':company_list[0:10],
                'Location':location_list[0:10],
                'Experience':exp_list[0:10]})
df

,Title,Company,Location,Experience
0,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
1,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
2,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
4,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-7 Yrs
5,Data Analyst,Xiaomi,Bangalore/Bengaluru,2-6 Yrs
6,Inviting Business Analyst –Data Science and In...,GENPACT India Private Limited,Bangalore/Bengaluru,0-4 Yrs
7,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
8,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs
9,Senior Data Analyst,Cerner Corporation,Bangalore/Bengaluru,4-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [15]:
#pass page url
driver.get("https://www.naukri.com/")

In [ ]:
#maximize chrome window
driver.maximize_window()

In [16]:
#pass the keyword as data scientist
skill=driver.find_element_by_id("qsb-keyword-sugg")
skill.send_keys("Data Scientist")

#pass bangalore as location
loc=driver.find_element_by_id("qsb-location-sugg")
loc.send_keys("Bangalore")

In [17]:
#click on the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']")
search_button.click()

In [18]:
#job titles:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title_list=[]
for i in job_title:
    job_title_list.append(i.text)
job_title_list[0:4]

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist/ Analyst',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms']

In [19]:
#company
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

company_list=[]
for i in company:
    company_list.append(i.text)
company_list[0:4]

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'Becton Dickinson India Pvt. Ltd',
 'Wrackle Technologies Pvt Ltd']

In [20]:
#location
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

location_list=[]
for i in location:
    location_list.append(i.text)
location_list[0:3]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [21]:
#links to full description
links=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

link_list=[]
for i in links:
    link_list.append(i.get_attribute("href"))
link_list[0:2]

['https://www.naukri.com/job-listings-data-scientist-cronj-it-technologies-private-limited-bangalore-bengaluru-0-to-1-years-310321002339?src=jobsearchDesk&sid=16171779533396484&xp=1&px=1',
 'https://www.naukri.com/job-listings-opportunity-for-data-scientist-internship-bengaluru-corner-stone-solutions-bangalore-bengaluru-0-to-1-years-240620007489?src=jobsearchDesk&sid=16171779533396484&xp=2&px=1']

In [22]:
print(len(job_title_list),len(company_list),len(location_list),len(link_list))

20 20 20 20

In [23]:
#full job description
job_desc=[]
for i in link_list[0:10]: # visit all the urls and fetch job description for each
    driver.get(i)
    for a in driver.find_elements_by_class_name('job-desc'):
        job_desc.append(a.text.replace("\n"," "))
    time.sleep(3) #implicitly wait
job_desc[0:2]

['Job description Responsibilities and Duties Create innovative solutions using data across sales, health care and related fields for building object detection models, chatbots, classification models etc. Familiarity with deep learning algorithms and frameworks like Pytorch, Keras, TensorFlow. Good to go with NLP and NLTK Day-to-day responsibilities include use, customize and create algorithms for specific tasks in data science. Get exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions.. Work on real-life projects involving Computer Vision, NLP and other AI techniques, Using innovative ideas to collect, curate or synthesize data. Model the problem into an ML/DL framework. Deploy models to real time staging servers. Flexibility in working independently and do needful research whenever required.   Required Experience, Skills and Qualifications Knowledge of Python Knowledge in libraries like OpenCV, Scikit Learn, NumPy etc. Understanding of different frameworks like Pytorch, TensorFlow, Keras etc. Knowledge on NLP Good Knowledge on OOP and programing in python adapting to requirement Understanding of aws Understanding of any annotation tool Ability to write robust and testable code. Strong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics. Strong communication skills. An analytical mind with problem-solving abilities. Degree in Computer Science, Mathematics, Computational Linguistics or similar field. Interested candidates can fill the google form to proceed further.  https://docs.google.com/forms/d/16Eyl8_qofdP1B5fHFgBhBcJYxlcpUqP8h5U1Rw_8K5M/edit?usp=forms_home&ths=true RoleTrainee Industry TypeIT-Software, Software Services Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryOther Education UG :Any Graduate in Any Specialization PG :Any Postgraduate in Any Specialization Key Skills TensorflowJavaC++CphythonData StructuresArtificial IntelligenceMachine LearningMATLABsoftware DeveloperNLPAlgorithmsFresherComputer VisionLinear Algebra',
 'Job description Location - Bangalore / Bengaluru Duration- 6 Months Responsibilities and Duties Create innovative solutions using data across sales, health care and related fields for building object detection models, chatbots, classification models etc. Familiarity with deep learning algorithms and frameworks like Pytorch, Keras, TensorFlow. Good to go with NLP and NLTK Day-to-day responsibilities include use, customize and create algorithms for specific tasks in data science. Get exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions.. Work on real-life projects involving Computer Vision, NLP and other AI techniques, Using innovative ideas to collect, curate or synthesize data. Model the problem into an ML/DL framework. Deploy models to real time staging servers. Flexibility in working independently and do needful research whenever required. Required Experience, Skills and Qualifications Knowledge of Python Knowledge in libraries like OpenCV, Scikit Learn, NumPy etc. Understanding of different frameworks like Pytorch, TensorFlow, Keras etc. Knowledge on NLP Good Knowledge on OOP and programing in python adapting to requirement Understanding of aws Understanding of any annotation tool Ability to write robust and testable code. Strong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics. Strong communication skills. An analytical mind with problem-solving abilities. Degree in Computer Science, Mathematics, Computational Linguistics or similar field. Qualification:  Looking for IIT, IIIT IISc, NIT, BIT & Equivalent colleges (Preferred) RoleSoftware Developer Industry TypeIT-Software, Software Services Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Temporary/Contractual Role CategoryProgramming & Design Education UG :B.Tech/B.E. in Any Specialization PG :M.Tech in Any Specialization Key Skills NLPOpencvArtificial Intelligence Data ScienceRtensorflowAlgorithmsMATLABLinear AlgebraPython Skills highlighted with ‘‘ are preferred keyskills']

In [24]:
#we have successfully scraped 10 job descriptions
len(job_desc)

10

In [25]:
#creating dataframe
df=pd.DataFrame({})
df['company']=company_list[0:10]
df['job title']=job_title_list[0:10]
df['location']=location_list[0:10]
df['job description']=job_desc[0:10]
df

,company,job title,location,job description
0,CronJ IT Technologies Private Limited,Data Scientist,Bangalore/Bengaluru,Job description Responsibilities and Duties Cr...
1,Corner Stone Solutions,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Job description Location - Bangalore / Bengalu...
2,Becton Dickinson India Pvt. Ltd,Data Scientist/ Analyst,Bangalore/Bengaluru,Job description Roles and Responsibilities ob ...
3,Wrackle Technologies Pvt Ltd,Data Scientist - Python/ MATLAB/ Machine Learn...,Bangalore/Bengaluru,Job description Data Scientist - Data Mining/ ...
4,Fidius advisory,Principal Data Scientist - Machine/Deep Learni...,Bangalore/Bengaluru,Job description Job Description : - We are loo...
5,Inspiration Manpower Consultancy Pvt. Ltd.,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Job description Job description Job Summary an...
6,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Job description About Ganit Inc Founded by s...
7,IBM India Pvt. Limited,Data Scientist - Advanced Analytics,Bangalore/Bengaluru,DATA SCIENTIST – ADVANCED ANALYTICS from 10 to...
8,Sony India Software Center,Data Scientist,Bangalore/Bengaluru,Job description Sony is looking for a Data Sci...
9,Inflexion Analytix Private Limited,Data Scientist/Data Analyst-immediate,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Job description Job description Dear Candidate...

# Q 3) Scrape data for “Data Scientist” designation for first 10 job results.


#### You have to scrape the job-title, job-location, company_name,experience_required.The location filter to be used is “Delhi/NCR”The salary filter to be used is “3-6” lakh

In [69]:
# step 1: visit the naukri.com page
driver.get("https://www.naukri.com/")
#step 2:selecting the skills serach bar and entering data scientist as designation
search_bar=driver.find_element_by_id("qsb-keyword-sugg")
search_bar.send_keys("Data Scientist")
#click on search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']")
search_button.click()

In [70]:
driver.maximize_window()

In [71]:
##filter selection for location as delhi /ncr
location_filter=driver.find_element_by_xpath("//div[@class='filterOptns']/div[2]")
location_filter.click()

In [72]:
##filter selection for salary as 3-6 lakhs
salary_filter=driver.find_element_by_xpath("//div[@class='filterContainer bgWhite br4'][3]/div[2]/div[2]")
salary_filter.click()

In [31]:
#filter selection for location as delhi /ncr
#location_filter=driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]")
#location_filter.click()

#### After applying the filter you can see on the top that 2 filters are applied

In [73]:
#collecting job titles
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#extracting the text from above title
title_list=[]
for i in title:
    title_list.append(i.text)
title_list[0:3]

['Developer - Data Science',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Data Scientist']

In [74]:
#getting the company name
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#extracting the text from above output
company_list=[]
for i in company:
    company_list.append(i.text)
company_list[0:3]

['ICL Systems India Private Limited', 'Change leaders', 'Amity University']

In [75]:
#getting the locations
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
#extracting the text from above output
location_list=[]
for i in location:
    location_list.append(i.text)
location_list[0:3]

['Delhi / NCR', 'Mumbai, Ghaziabad', 'Ghaziabad, Faridabad, Delhi / NCR']

In [76]:
#getting the experience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#extracting the text from above output
exp_list=[]
for i in exp:
    exp_list.append(i.text)
exp_list[0:3]

['3-5 Yrs', '5-10 Yrs', '6-8 Yrs']

In [77]:
#checking the lengths
print(len(title_list),len(company_list),len(location_list),len(exp_list))

21 21 21 21

In [78]:
#creating a dataframe with first 10 jobs
df=pd.DataFrame({'Title':title_list[0:10],
                'Company':company_list[0:10],
                'Location':location_list[0:10],
                'Experience':exp_list[0:10]})
df

#cross check the location with csv file  all are delhi and ncr regions
#df.to_csv("question 3.csv")

,Title,Company,Location,Experience
0,Developer - Data Science,ICL Systems India Private Limited,Delhi / NCR,3-5 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",6-8 Yrs
3,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
5,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs
6,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
7,Data Scientist - Python & Machine Learning (IS...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
8,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs
9,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon/Gurugram,2-6 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [4]:
# step 1:pass the glassdoor url that we need to visit
driver.get("https://www.glassdoor.co.in/index.htm")

#### After this step you will need to login manually as the login credentials are confedential if google does not give permission you might use facebook to login with

In [5]:
#sending data scientist keyword
search_job=driver.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")

In [6]:
#search the location bar
search_loc=driver.find_element_by_id("sc.location")

#the location already has pune in it so we will have to delete it 

from selenium.webdriver.common.keys import Keys

search_loc.send_keys(Keys.CONTROL + "a");  #ctrl+a to select all
search_loc.send_keys(Keys.DELETE);   # to delete the selected text i.e pune
time.sleep(6) #implicitly wait

#pass the value as noida
search_loc.send_keys("Noida")

In [7]:
#clicking the search button
search_button=driver.find_element_by_xpath("//*[@id='scBar']/div/button")
search_button.click()

In [8]:
#company name
company=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
company_list=[]
for i in company:
    company_list.append(i.text)
company_list[0:3]

['Adobe', 'Biz2Credit Inc', 'Unyscape Infocom Pvt. Ltd']

In [9]:
#number of days posted
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days_list=[]
for i in days:
    days_list.append(i.text)
days_list[0:3]

['2d', '30d+', '28d']

In [11]:
#scrap the ratings
ratings=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
ratings_list=[]
for i in ratings:
    if i.text is None :
        ratings_list.append("--")
    else:
        ratings_list.append(i.text)
ratings_list[0:3]

['4.4', '3.8', '4.1']

In [12]:
#checking the length of all lists collected
print(len(ratings_list),len(company_list),len(days_list))

30 30 30

In [13]:
#creating dataframe
df=pd.DataFrame({})
df['Company']=company_list[0:10]
df['Ratings']=ratings_list[0:10]
df['No.of days ago job posted']=days_list[0:10]
df

#close the automated chrome window
#driver.close()

                                Company Ratings No.of days ago job posted
0                                 Adobe     4.4                        2d
1                        Biz2Credit Inc     3.8                      30d+
2             Unyscape Infocom Pvt. Ltd     4.1                       28d
3          Salasar New Age Technologies                              30d+
4     SysQuo Innovation Private Limited     3.0                       13d
5                              Techlive     5.0                      30d+
6  Innovaccer Analytics Private Limited     3.5                       12d
7          Salasar New Age Technologies                              30d+
8                               Asquero     5.0                        3d
9                             Innovacer     3.8                       13d

# Q 5 ) Write a python program to scrape the salary data for Data Scientist designation in Noida location.scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [22]:
# step 1:pass the glassdoor url that we need to visit
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [23]:
#passing data scientist as designation
search_job=driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")

#search the location path
search_loc=driver.find_element_by_id ("LocationSearch")
#the location is already pune so we will clear it
search_loc.clear()
time.sleep(2)

# pass Noida as new location
search_loc.send_keys("Noida")

In [24]:
#click on search button
search_button=driver.find_element_by_id("HeroSearchButton")
search_button.click()

In [25]:
# company names
company=driver.find_elements_by_xpath("//div[@class='col-md-6']")
#getting text from above using a loop
company_list=[]
for i in company:
    company_list.append(i.text.split('\n')[1])  #split the data at \n and take the data at index 1
company_list[0:4]

['Tata Consultancy Services', 'Accenture', 'Delhivery', 'IBM']

In [26]:
#salary
salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__rangeBar undefined undefined ']")
salary[0:3]

#minimum salary
min_list=[]
for i in salary:
    min_list.append(i.text.split('\n')[0])  #split the data at \n and take the data at index 0
min_list[0:4]

['₹336L', '₹579L', '₹452L', '₹589L']

In [27]:
#maximum salary
max_list=[]
for i in salary:
    max_list.append(i.text.split('\n')[1])  #split the data at \n and take the data at index 1
max_list[0:4]

['₹1,080L', '₹2,222L', '₹11,669L', '₹2,741L']

In [28]:
#average salary
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_sal_list=[]
for i in avg_sal:
    avg_sal_list.append(i.text.replace("\n",''))  #split the data at \n and take the data at index 1
avg_sal_list[0:4]

['₹ 6,01,000/yr', '₹ 11,51,207/yr', '₹ 12,34,207/yr', '₹ 7,63,825/yr']

In [29]:
#number of salaries
sal_count=driver.find_elements_by_xpath("//div[@class='col-md-6']")
sal_count_list=[]
for i in sal_count:
    sal_count_list.append(i.text.split("\n")[2])  #split the data at \n and take the data at index 1
sal_count_list[0:4]

['14 salaries', '14 salaries', '14 salaries', '13 salaries']

In [30]:
#checking the length
print(len(company_list),len(min_list),len(max_list),len(avg_sal_list),len(sal_count_list))

20 20 20 20 20

In [31]:
#creating dataframe
df=pd.DataFrame({})
df['Company']=company_list[0:10]
df['Number of salaries']=sal_count_list[0:10]
df['Average Salary']=avg_sal_list[0:10]
df['Minimum Salary']=min_list[0:10]
df['Maximum Salary']=max_list[0:10]

df

,Company,Number of salaries,Average Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,14 salaries,"₹ 6,01,000/yr",₹336L,"₹1,080L"
1,Accenture,14 salaries,"₹ 11,51,207/yr",₹579L,"₹2,222L"
2,Delhivery,14 salaries,"₹ 12,34,207/yr",₹452L,"₹11,669L"
3,IBM,13 salaries,"₹ 7,63,825/yr",₹589L,"₹2,741L"
4,Ericsson-Worldwide,12 salaries,"₹ 7,32,209/yr",₹350L,"₹1,619L"
5,UnitedHealth Group,10 salaries,"₹ 13,88,910/yr","₹1,050L","₹1,500L"
6,Valiance Solutions,9 salaries,"₹ 8,18,515/yr",₹504L,"₹1,471L"
7,Innovaccer,8 salaries,"₹ 12,01,403/yr",₹623L,"₹1,702L"
8,ZS Associates,7 salaries,"₹ 10,00,000/yr",₹203L,"₹1,817L"
9,EXL Service,7 salaries,"₹ 11,90,000/yr",₹578L,"₹1,500L"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [41]:
#get the url of website
driver.get("https://www.flipkart.com/")

In [42]:
#click on the cancel sign for the login pop up
pop_up=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

In [43]:
#search sunglasses
search_bar=driver.find_element_by_name("q")
search_bar.send_keys("sunglasses")
#click on search button
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [49]:
#create empty lists
brand_list=[]
description_list=[]
discount_list=[]
price_list=[]

#there are 40 sunglasses on a single page & we need 100 records hence use a for loop ranging from 1 to 4
for i in range(1,4):
    for p in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"): # brand
        brand_list.append(p.text)
    for q in driver.find_elements_by_xpath("//a[@class='IRpwTa']"): # product description
        if q.text is None:
            description_list.append('--')  # for some products description is missing
        else:
            description_list.append(q.text)
    for r in driver.find_elements_by_xpath("//div[@class='_30jeq3']"): #price
        price_list.append(r.text)
    for s in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):#discount
        discount_list.append(s.text)
    time.sleep(3)    # allow some time for the driver to gather info
    #url for the next page +str as the url changes for every page and i is from 1 to 4 it will take 3 pages
    url = 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
    driver.get(url)
    time.sleep(2)

In [45]:
#view the list contents
print(brand_list[0:3])
print("\n")
print(description_list[0:3])
print("\n")
print(price_list[0:3])
print("\n")
print(discount_list[0:3])

['LIZA ANGEL', 'ROYAL SON', 'Fastrack']


['UV Protection, Mirrored Retro Square Sunglasses (53)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (Free Size)']


['₹269', '₹379', '₹758']


['82% off', '74% off', '15% off']

In [50]:
#checking the list sizes if they are equal
print(len(brand_list),len(description_list),len(discount_list),len(price_list))

120 120 120 120

In [51]:
#creating dataframe
df=pd.DataFrame({})
df['Brand']=brand_list[0:100]  # as we want only 100 records
df['Product Description']=description_list[0:100]
df['Price']=price_list[0:100]
df['Discount']=discount_list[0:100]
df

#cross checking with the website with some records
#df.head(10)

,Brand,Product Description,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹569,28% off
2,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹314,80% off
3,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹499,50% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
...,...,...,...,...
95,BKGE,"UV Protection, Polarized Rectangular, Retro Sq...",₹394,78% off
96,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹759,15% off
97,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹399,72% off
98,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
99,Fastrack,UV Protection Wayfarer Sunglasses (54),₹647,28% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.
https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [52]:
#pass the required url of web page that needs to be visited
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

In [53]:
#clicking on see all reviews
all_button=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_button.click()

In [54]:
#running through loop to scrap 10 pages 
rating=[]
short_review=[]
full_review=[]
for i in range(1,11):
    for a in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]"):# ratings
        rating.append(a.text.split("\n")[0])
    for b in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"): #short_review
        short_review.append(b.text)
    for c in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"): # full review
        full_review.append(c.text.replace("\n"," "))
    time.sleep(3)   
    url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(i)
    driver.get(url)
    time.sleep(3)

In [55]:
#checking the length
print(len(rating),len(short_review),len(full_review))

100 100 100

In [56]:
#creating dataframe
iphone_df=pd.DataFrame({})
iphone_df['Rating']=rating
iphone_df[' Review summary']=short_review
iphone_df[' Full review']=full_review
iphone_df

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Terrific,Good buy.. working perfectly ! That was upgra...
96,4,Very Good,impressive super phone and best in class camer...
97,5,Fabulous!,Everything is perfect pictures come out so cle...
98,5,Terrific,I got this beast today. And I must say the pic...
99,5,Worth every penny,iPhone is delivered on time. Display is great ...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [57]:
#enter url and open the web page
url="https://www.flipkart.com/"
driver.get(url)

In [ ]:
#close login pop up if it appears
#cancel_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
#cancel_button.click()

In [58]:
#search for sneakers 
search_bar=driver.find_element_by_name("q")
search_bar.send_keys("sneakers")

#click on search
click_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
click_button.click()

In [59]:
#capturing the data and navigating through next pages

#create empty lists
brand_list=[]
description_list=[]
discount_list=[]
price_list=[]

#there are 40 sunglasses on a single page & we need 100 records hence use a for loop ranging from 1 to 4
for i in range(1,4):
    for p in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"): # brand
        brand_list.append(p.text)
    for q in driver.find_elements_by_xpath("//div[@class='_2B099V']/a"): # product description
        if q.text is None:
            description_list.append('--')  # for some products description is missing
        else:
            description_list.append(q.text)
    for r in driver.find_elements_by_xpath("//div[@class='_30jeq3']"): #price
        price_list.append(r.text)
    for s in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):#discount
        if s.text is None:
            discount_list.append("--")
        else:    
            discount_list.append(s.text)
    time.sleep(3)    # allow some time for the driver to gather info
    #url for the next page +str as the url changes for every page and i is from 1 to 4 it will take 3 pages
    url = 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
    driver.get(url)

In [60]:
#checking the list sizes,the description list contains various data
print(len(brand_list),len(description_list),len(discount_list),len(price_list))

120 240 120 120

#### extracting only description from list

In [61]:
#extracting desriptions from the list
count=0
desc_list=[]
while count<len(description_list):
    desc_list.append(description_list[count])
    count=count+2
desc_list[0:4]

['Men Sports Sneakers For Men',
 'Combo Pack Of 3 Casual Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men']

In [62]:
#creating dataframe
df=pd.DataFrame({})
df['Brand']=brand_list[0:100]
df['Description']=desc_list[0:100]
df['Price']=price_list[0:100]
df['Discount']=discount_list[0:100]
df

,Brand,Description,Price,Discount
0,BRUTON,Men Sports Sneakers For Men,₹299,76% off
1,BRUTON,Combo Pack Of 3 Casual Sneakers For Men,₹473,81% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹360,63% off
...,...,...,...,...
95,Chevit,Super 445 Fashion Sneakers For Men,₹369,26% off
96,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹759,69% off
97,Axter,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,₹299,70% off
98,BLACK BOTTOM,Fashion Outdoor Canvas Casual Light Weight Par...,₹449,55% off
99,KLICKER,Pro Flex Sports Sneakers NCS1 Sneakers For Men,₹359,77% off

# Q 9 ) Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
scrape First 100 shoes data you get. 
The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [68]:
#passing the web page address
driver.get("https://www.myntra.com/shoes")

In [69]:
#applying color filter
color_filter=driver.find_element_by_xpath("//label[@class='common-customCheckbox']")
color_filter.click()

In [70]:
#applying price filter
price_filter=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")
price_filter.click()

In [71]:
#running through a loop

# step 1: create empty list
brand=[]
description=[]
price=[]

for i in range(0,2):
    #brand
    for x in driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3"):
            brand.append(x.text)
    
    #description
    for y in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        description.append(y.text)
        
    #price
    for z in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(z.text.split(".")[1].replace("Rs",""))
    time.sleep(5)
    
    # click on next button
    
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    next_button.click()
    time.sleep(3)

In [72]:
#view the length of all collected data
print(len(price),len(description),len(brand))

100 100 100

In [73]:
#create dataframe
shoe_df=pd.DataFrame({})
shoe_df['Brand']=brand
shoe_df['Description']=description
shoe_df['Price in Rupees']=price
shoe_df

#close the driver
#driver.close()

                   Brand                   Description Price in Rupees
0                   Nike    Men React Infinity Running           12396
1                   Nike     Men AIR MAX VOLLEY Tennis            6965
2                Bugatti     Men Solid Casual Sneakers            8999
3                   Nike    Men AIR ZOOM Running Shoes           11470
4                   Nike  Women AIR ZOOM Running Shoes            7996
..                   ...                           ...             ...
95                  Geox     Women Leather Block Heels            9990
96                 Ruosh     Men Leather Slip-On Shoes            6990
97               Bugatti          Women Black Sneakers            7999
98               Saint G    Women Leather Heeled Boots            9900
99  Heel & Buckle London        Men Leather Monk Shoes            9793

[100 rows x 3 columns]

# Q 10 )Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 

#### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
    
1. title

2. Ratings

3. Price

In [4]:
# step 1:pass the url that we need to visit
driver.get("https://www.amazon.in/")

In [5]:
#typing as laptop in search bar
search_product=driver.find_element_by_id("twotabsearchtextbox")
search_product.send_keys("laptop")

#click on the search button
search_button=driver.find_element_by_id("nav-search-submit-button")
search_button.click()

In [6]:
#click the checkbox for filter intel core i7
core7=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")
core7.click()

In [7]:
#click the checkbox for filter intel core i9
core9=driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/span")
core9.text
core9.click()

url = https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1617348088&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17

In [8]:
#title of the laptops
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title_list=[]
for i in title:
    title_list.append(i.text)
title_list[0:2]

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Lenovo Yoga 9 11th Gen Intel Core i7 14-inch 4K Ultra HD IPS 2-in-1 Touchscreen Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Shadow Black/Leather Surface/1.44Kg), 82BG005JIN']

In [9]:
#prices of the laptops
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_list=[]
for i in price:
    price_list.append(i.text)
price_list[0:2]

['83,990', '1,67,990']

In [10]:
#ratings 
rating=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']")
rating_list=[]
for i in rating:
    if i.text is None:
        rating_list.append("--")
    else:
        rating_list.append(i.get_attribute("text"))
rating_list[0:3]

['5.0 out of 5 stars', '5.0 out of 5 stars', '4.6 out of 5 stars']

In [12]:
print(len(rating_list),len(price_list),len(title_list))

21 27 27

#### Few laptops (after 1st 14 ) do not have the ratings but as we are interested in only top 10 and the ratings are scrapped successfully we shall proceed with creating the dataset

In [14]:
laptop_df=pd.DataFrame({})
laptop_df['Title']=title_list[0:10]
laptop_df['Rating']=rating_list[0:10]
laptop_df['Price']=price_list[0:10]
laptop_df

,Title,Rating,Price
0,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,5.0 out of 5 stars,"83,990"
1,Lenovo Yoga 9 11th Gen Intel Core i7 14-inch 4...,5.0 out of 5 stars,"1,67,990"
2,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.6 out of 5 stars,"75,993"
3,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.3 out of 5 stars,"53,962"
4,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,2.7 out of 5 stars,"1,98,590"
5,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...,4.1 out of 5 stars,"78,990"
6,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,3.3 out of 5 stars,"2,59,990"
7,(Renewed) Dell Inspiron 5501 15.6 Inch FHD Lap...,5.0 out of 5 stars,"75,990"
8,ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...,3.9 out of 5 stars,"5,22,077"
9,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",4.3 out of 5 stars,"1,35,490"

# Exception Handling for question 10

In [1]:
#import required libraries
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
# opening the url
driver=webdriver.Chrome(r"C://ChromeDriver.exe")
driver.get("https://www.amazon.in/")
driver.maximize_window()

In [3]:
#search bar
search_bar=driver.find_element_by_id("twotabsearchtextbox")
search_bar.send_keys("laptops")
#click on seacrh button
click_button=driver.find_element_by_id("nav-search-submit-button")
click_button.click()

In [4]:
#applying i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [5]:
#applying i9 filter
filter_button2=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for a in filter_button2:
    if a.text=='Intel Core i9':
        a.click()
        break

In [6]:
#title of the laptops
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title_list=[]
for i in title:
    title_list.append(i.text)
title_list[0:2]

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 '(Renewed) HP ZBook 15 G3 Mobile Workstation - 15.6" - Core i7 (6700HQ) - 8 GB RAM - 1TB SSD : BLUETOOTH : 2GB DEDICATED GRAPHIC : NUMERIC KEYBOARD']

In [7]:
len(title_list)

26

In [8]:
#extracting prices
link_list=[]
pricing=[]
#getting url of each laptop
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for x in urls:
    link_list.append(x.get_attribute("href"))
#another loop to visit all urls 
for y in link_list:
    driver.get(y)
    try:      #exception handling 
        price=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")   
        pricing.append(price.text)
    except NoSuchElementException as e:
        pricing.append("No price")

In [9]:
len(pricing)

26

In [10]:
#going back to first page
driver.get("https://www.amazon.in/s?k=laptops&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1617609189&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17")

In [11]:
#exception handling for ratings
#steps
#1 ) get the urls of each laptop
#2) visit each url
#3) go to rating
#4) fetch Rating

UR=[]
Ratings=[]
#getting url of each laptop
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for i in urls:
    UR.append(i.get_attribute("href"))
#another loop to visit all urls 
for k in UR:
    driver.get(k)
    try:      #exception handling 
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")   
        rate.click()  #clicking on ratings
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
    except NoSuchElementException as e:
        Ratings.append("No ratings")

In [12]:
print(len(Ratings),len(pricing),len(title_list))

26 26 26

In [14]:
df=pd.DataFrame({})
df['Title']=title_list[0:20]
df['Rating']=Ratings[0:20]
df['Price']=pricing[0:20]
df

,Title,Rating,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.3 out of 5,"₹ 54,999.00"
1,(Renewed) HP ZBook 15 G3 Mobile Workstation - ...,No ratings,"₹ 68,990.00"
2,HP Pavilion Gaming 11th Gen Intel Core i7 Proc...,No ratings,"₹ 89,900.00"
3,HP Envy 11th Gen Core i7 Processor 13.3-inch F...,No ratings,"₹ 1,32,519.00"
4,(Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...,No ratings,"₹ 38,990.00"
5,ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...,No ratings,"₹ 5,22,077.00"
6,HP Pavilion Gaming 11th Gen Intel Core i7 Proc...,No ratings,"₹ 83,077.00"
7,(Renewed) HP EliteBook 820 G4 Laptop (CORE I5 ...,1 out of 5,"₹ 36,490.00"
8,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,3.9 out of 5,"₹ 77,990.00"
9,Mi Notebook Horizon Edition 14 Intel Core i7-1...,No ratings,"₹ 59,999.00"
10,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,No ratings,"₹ 76,500.00"
11,Intel Core I7/16GB Ram/120GB SSD / 2TB Hard Di...,4.3 out of 5,"₹ 28,999.00"
12,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.3 out of 5,No price
13,"ASUS TUF Gaming F15, 15.6"" FHD 144Hz, Intel Co...",4.6 out of 5,"₹ 85,990.00"
14,Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...,No ratings,"₹ 76,990.00"
15,(Renewed) DELL Latitude E6540 15.6-inch Laptop...,5 out of 5,"₹ 38,999.00"
16,MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB S...,4.5 out of 5,"₹ 66,990.00"
17,Lenovo Legion 5 10th Gen Intel Core i7 15.6 in...,No ratings,No price
18,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...",4.3 out of 5,"₹ 86,990.00"
19,LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...,No ratings,No price

In [15]:
driver.close()

#### Thankyou